.tickerCell {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    > .tickerCellValue {
        font-size: 7rem;
    }
    
    > .tickerCellLabel {
        font-style: italic;
        margin-top: 40px;
    }
}
@media screen and (max-width: 500px){
    .tickerCell{
    
        > .tickerCellValue{
           font-size: 3rem;
        }
        > .tickerCellLabel{
            font-size: 1.1rem;
        }
    }
}