$text-color: white;
$border-color: white;
$button-background-color: hsl(40,86%,60%);
$button-border-color: hsl(40,86%,50%);
$button-text-color: black;
$button-active-text-color: black;
$button-active-border-color: white;
$button-active-background-color: hsl(40,86%,64%);
$button-hover-background-color: hsl(40,86%,55%);
$button-hover-border-color: hsl(40,86%,50%);
$button-hover-text-color: black;
$background-dark-gradient: #062a73;
$background-light-gradient: #348fc7;