body {
  font-family: arial;
}

.card {
  padding-bottom: 10px;
  width: 400px;
  height: 500px;
  /* display: inline-block; */
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  margin-top: 10%;
  /* min-width: 30%; */
}

.title {
  text-align: center;
  padding: 0px;
}

.agenda-title {
  font-size: 20px;
  border-top: 4px solid rgb(209, 192, 40);
  padding: 10px;
  text-indent: 4px;
  line-height: 15px;
}

.des {
  padding: 3px;
  text-align: center;
  padding-top: 25px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button {
  /* background-color: rgb(247, 203, 7);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px; */
  background-color: #4CAF50;
  border: none;
  border-radius: 4%;
  color: white;
  padding: 6px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color:darkgreen;
  transition: 0.5s;
  cursor: pointer;
}
.agenda-image {
  width: 100%;
  height: 75%;
}
@media screen and (max-width: 500px){
  .agenda-image {
    margin-left: 10px !important;
  }
  .card {
    height: 550px;
  }
}
