nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: hsl(205,64%,22%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
a.site-logo {
    display: inline-block;
    position: relative;
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
    padding-top: 5px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
a.site-logo::before {
    position: absolute;
    content: '';
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #f2be54 46%,#03979f 46%) 1; 
    width: 100%;
    transform: translateX(-50%);
    top: -10px;
    left: 50%;
}
.logo-section {
    display: flex;
}
.img-logo {
    background: url(./pict_white_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    margin-left: 2px;
    width: 35px;
    height: 30px;
}
.list {
    list-style-type: none;
    background: hsl(205,64%,22%);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  
}
.nav-link {
    margin-right: 20px;
    font-size: 17px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
   
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background: #f2be54;
    background: linear-gradient(to right, hsl(40, 86%, 64%) 46%,#03979f 46%);
}
  
.nav-link-ltr::before {
    width: 0%;
    bottom: 5px;
}
  
.nav-link-ltr:hover::before {
    width: 20%;
}

.btn {
    display: none;
    position: absolute;
    right: 5px;
    top: 2px;
    padding: 1px;
    color: black;
    font-size: 5px;
}
@media screen and (max-width: 500px){
    a.site-logo {
        font-size: 22px;
    }
    .list {
        flex-direction: column;
        height: 75vh;
    }
    .nav-link:nth-child(1){
        border-top: 1px solid hsl(40,86%,64%);
        margin-top: 25px;
    }
    .nav-link {
        width: 100%;
        border-top: 1px solid hsl(40,86%,64%);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .nav-link-ltr:hover::before{
        display: none;
    }
    .btn {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 10px;
        margin-bottom: 5px;
        padding-bottom: 1px;
        z-index: 200;
    }
}