* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 0;
  position: relative;
}

.container .heads{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .heads .content_design{
  background-color: #EED8C9;
  padding-top: 20px;
  padding-bottom: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}



.container .card {
  position: relative;
  width: 300px;
  height: 480px;
  background: rgba(255, 255, 255, 0.05);
  margin: 90px 150px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.container .card1 {
  position: relative;
  width: 250px;
  height: 380px;
  background: rgba(255, 255, 255, 0.05);
  margin: 60px 30px;
  margin-top: 20%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container .card .content {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.container .card:hover .content {
  transform: translateY(-20px);
}
.container .card .content .imgBx1 {
  position: relative;
  width: 300px;
  height: 380px;
  overflow: hidden;
}
.container .card .content .imgBx {
  position: relative;
  width: 250px;
  height: 280px;
  overflow: hidden;
}


.container .card .content .imgBx1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 10px;
  display: flex;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
}

.container .card:hover .sci li {
  transform: translateY(0px);
  position: relative;
  color: white;
  opacity: 100;
}

.container .card .sci li a {
  color: black;
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  .container .card .sci li a {
    font-size: 14px;
  }
}

.team_heading {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 40px 0;
  color: black;
  position: absolute;

}
.team_heading1 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 40px 0;
  color: black;
  position: absolute;
  padding-bottom: 150%;
}

.team_heading2 {
  font-family: Helvetica;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 40px 0;
  color: black;
  position: absolute;
}

@media screen and (max-width: 500px) {
  
  .container .card{
    margin-top: 120px;
  }
  .team_heading {
    position: absolute;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .team_heading1 {
    margin: 40px 0;
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
  }
  .team_heading2 {
      font-weight: 500;
      font-size: 1.5rem;
  }
  .container .card .sci li a {
    font-size: 14px;
  }
}
