.team1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.holder{
    position: relative;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.holder .cards{
    position: relative;
    width: 300px;
    height: 360px;
    background: linear-gradient(#2196f3,#2196f3 30%,#1d3548 30%,#1d3548);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.holder .cards .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    transition: 0.5s;
    z-index: 100000;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: top;
}
.holder .cards:hover .imgBox{
     transform: translateY(30px) scale(0.5);
}
.holder .cards .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.holder .cards .profile-content{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.holder.cards:hover .profile-content{
     transform: translateY(0);
}
.holder .cards .profile-content .profile-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.holder .cards .profile-content .profile-details h2{
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

.holder .cards .profile-content .profile-details h2 span{
    font-size: 0.8em;
    font-weight: 400;
    color: #03a9f4;
}

.holder .cards .profile-content .profile-details .profile-social-icons{
     position: relative;
     display: flex;
     margin-top: 5px;
}
.profile-social-icons li{
    list-style: none;
    margin: 4px;
}
.profile-social-icons li a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #294d69;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.profile-social-icons li a:hover{
    transform: rotate(360deg);
    background: #03a9f4;
}
